* {
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box;
}

@font-face {
  font-family: titulo;
  src: url("../assets/fonts/Deep Hero.ttf");
}
@font-face {
  font-family: font-h2;
  src: url("../assets/fonts/Deep Vanilla Cake Free.ttf");
}
header .container {
  width: 50vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}
header .container img {
  width: 100%;
  border-radius: 15px;
}

.titulos h1, .titulos h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 3.75rem;
  font-weight: lighter;
  font-family: titulo;
}
.titulos h1 a, .titulos h2 a {
  color: rgb(216, 113, 180);
  text-decoration: none;
}
.titulos h1 a:hover, .titulos h2 a:hover {
  text-decoration: underline;
  font-size: 61px;
}
.tituloNovedades {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 3.75rem;
  font-family: titulo;
  color: rgb(216, 113, 180);
}

.carousel-item img {
  border-radius: 15px;
}

h2 {
  color: darkgreen;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
  font-family: font-h2;
  font-weight: bold;
  margin-top: 60px;
}

h3 {
  color: rgba(0, 100, 0, 0.74);
  font-size: 1.25rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
h3::first-letter {
  font-size: 30px;
  margin-bottom: 0px;
}

.Conta {
  font-style: italic;
}
.Conta h4 {
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cont-img {
  width: 50vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}
.cont-img .novedades1 {
  width: 100%;
  border-radius: 15px;
}

.logoWhatsapp {
  position: fixed;
  bottom: 5px;
  right: 20px;
}

.subir {
  position: fixed;
  bottom: 5px;
  left: 20px;
}

.navBar-1 {
  gap: 1.25rem;
  list-style: none;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.navBar-1 li {
  font-size: 16px;
}
.navBar-1 li a {
  text-decoration: none;
  color: black;
}
.navBar-1 li a:hover {
  text-decoration: underline;
  color: blue;
}

.navBar-2 {
  text-align: center;
  width: 100%;
  height: 240px;
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #9b9be5, #9b9be8, #9c9cec, #b491e9, #cd82df, #e672cf, #fb5fb7);
  margin-top: 50px;
}
.navBar-2 a {
  border-radius: 8px;
}
.navBar-2 a img {
  width: 30px;
  height: 30px;
}

.masc-flex {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
}
.masc-flex .masc1-flex {
  width: 50%;
  height: 200px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.masc-flex .masc1-flex img {
  width: 18.75rem;
  height: 18.75rem;
}

.fem-Grid {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 24.5% 25% 25.5%;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 70px;
  margin-bottom: 70px;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: right;
  width: 300px;
  height: 300px;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.item2 h2 {
  margin-bottom: 10px;
}
.item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: flex-start;
  justify-self: right;
  width: 350px;
  height: 350px;
}

.item4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.item4 h2 {
  margin-bottom: 10px;
}
.item5 {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: right;
  width: 300px;
  height: 300px;
}

.item6 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.item6 h2 {
  margin-bottom: 10px;
}
.item7 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: flex-start;
  justify-self: right;
  width: 350px;
  height: 350px;
}

.item8 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.item8 h2 {
  margin-bottom: 10px;
}
.item9 {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  justify-self: right;
  width: 300px;
  height: 300px;
}

.item10 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.item10 h2 {
  margin-bottom: 10px;
}
.item11 {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: flex-start;
  justify-self: right;
  width: 350px;
  height: 350px;
}

.item12 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.item12 h2 {
  margin-bottom: 10px;
}
@media (max-width: 1110px) {
  footer .navBar-2 {
    width: 100%;
    height: 215px;
    align-items: center;
  }
  footer .navBar-2 iframe {
    width: 400px;
    height: 215px;
  }
}
@media (max-width: 996px) {
  footer .navBar-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat 11, 1fr;
    grid-template-rows: 1fr;
    height: 215px;
    align-items: center;
    justify-self: center;
  }
  footer .navBar-2 .iframe1 {
    width: 100%;
    height: 215px;
    grid-column: 1/4;
  }
  footer .navBar-2 .iframe2 {
    width: 100%;
    height: 215px;
    grid-column: 9/12;
  }
  footer .navBar-2 .a1 {
    grid-column: 4/5;
    align-self: flex-end;
  }
  footer .navBar-2 .a2 {
    grid-column: 5/6;
    align-self: flex-end;
  }
  footer .navBar-2 .a3 {
    grid-column: 6/7;
    align-self: flex-end;
  }
  footer .navBar-2 .a4 {
    grid-column: 7/8;
    align-self: flex-end;
  }
  footer .navBar-2 .a5 {
    grid-column: 8/9;
    align-self: flex-end;
  }
}
@media (max-width: 770px) {
  footer .navBar-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat 9, 1fr;
    grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr 1fr;
    height: 215px;
  }
  footer .navBar-2 .iframe1 {
    width: 100%;
    height: 185px;
    grid-column: 1/5;
    grid-row: 3/10;
    justify-self: center;
  }
  footer .navBar-2 .iframe2 {
    width: 100%;
    height: 185px;
    grid-column: 6/10;
    grid-row: 3/10;
    justify-self: center;
  }
  footer .navBar-2 .a1 {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .navBar-2 .a2 {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .navBar-2 .a3 {
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .navBar-2 .a4 {
    grid-column: 6/7;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .navBar-2 .a5 {
    grid-column: 7/8;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .logoWhatsapp a img {
    width: 55px;
    height: 55px;
  }
  footer .subir a img {
    width: 50px;
    height: 50px;
  }
  main .titulos h2 {
    font-size: 3rem;
  }
  main .titulos h1, main .titulos h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  main .tituloNovedades {
    font-size: 3rem;
    margin-top: 30px;
  }
  main article {
    margin-bottom: 50px;
  }
  main h2 {
    font-size: 1.25rem;
    margin-top: 30px;
  }
  main h3 {
    font-size: 1rem;
  }
  main p {
    font-size: 0.75rem;
  }
  header .navBar-1 {
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  footer .navBar-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat 7, 1fr;
    grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr;
    height: 400px;
  }
  footer .navBar-2 .iframe1 {
    width: 375px;
    height: 170px;
    grid-column: 1/8;
    grid-row: 3/6;
    align-items: center;
  }
  footer .navBar-2 .iframe2 {
    width: 375px;
    height: 170px;
    grid-column: 1/8;
    grid-row: 7/10;
    align-items: center;
  }
  footer .navBar-2 .a1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  footer .navBar-2 .a2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  footer .navBar-2 .a3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  footer .navBar-2 .a4 {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  footer .navBar-2 .a5 {
    grid-column: 6/7;
    grid-row: 1/2;
  }
  footer .logoWhatsapp a img {
    width: 50px;
    height: 50px;
  }
  footer .subir a img {
    width: 45px;
    height: 45px;
  }
  main .titulos h2 {
    font-size: 2rem;
  }
  main .titulos h1, main .titulos h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  main .tituloNovedades {
    font-size: 2rem;
    margin-top: 20px;
  }
  main article {
    margin-bottom: 40px;
  }
  main h2 {
    font-size: 1rem;
    margin-top: 20px;
  }
  main h3 {
    font-size: 0.75rem;
  }
  main p {
    font-size: 0.625rem;
  }
  header .navBar-1 li {
    font-size: 14px;
  }
}
/*@media(max-width:375px){
    header{
        display: flex;
        width: 100%;
        height: 150px;
    }
    .prin-femynov{
        width: 100%;
        height: 120px;
        margin-right: 125px ;
        margin-top: 0px;
    }
    .navBar-1{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 2px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }        
    .botNav{
        padding: 3px 16px;
        border-radius: 5px 5px 20px 5px;
        font-size: .75rem;
    }
    .botNav1{
        padding: 3px 32px;
        border-radius: 5px 5px 20px 5px;
        font-size: .75rem;
    }
    .botNav2{
        padding: 3px 12px;
        border-radius: 5px 5px 20px 5px;
        font-size: .75rem;
    }
    .masculinas{
        width: 13.75rem;
        height: 13.75rem;
    }
    .novedades1{
        width: 21.25rem;
        height: 10rem;
    }
    .tituloNovedades{
        text-align: center;
        font-size: 32px;
        font-family:titulo;
        color: rgb(216, 113, 180);
        margin-bottom: 1px;
    }
    article{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    h2{
        color: darkgreen;
        text-align: center;
        margin-bottom: 0.5px;
        font-size: 20px;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: .75rem;
    }
    .botonSubir{
        padding: 10px;
        color: brown;
    }
}
*/
@media (max-width: 320px) {
  .responsive1 .navBar {
    width: 100%;
    height: 400px;
    display: grid;
    align-items: center;
  }
  .iframe1 {
    width: 320px;
    height: 170px;
    grid-column: 2/9;
    grid-row: 3/6;
    align-items: center;
  }
  .iframe2 {
    width: 320px;
    height: 170px;
    grid-column: 2/9;
    grid-row: 7/10;
    align-items: center;
  }
  .botonSubir {
    padding: 5px;
    color: brown;
  }
  header {
    display: flex;
    width: 100%;
    height: 120px;
  }
  .navBar-1 {
    margin-top: 0px;
  }
  .prin-femynov {
    width: 100%;
    height: 100px;
    margin-right: 125px;
    margin-top: 0px;
  }
  .botNav {
    padding: 2px 11px;
    border-radius: 5px 5px 20px 5px;
    font-size: 10px;
  }
  .botNav1 {
    padding: 2px 24.5px;
    border-radius: 5px 5px 20px 5px;
    font-size: 10px;
  }
  .botNav2 {
    padding: 2px 8px;
    border-radius: 5px 5px 20px 5px;
    font-size: 10px;
  }
  .masculinas {
    width: 12.5rem;
    height: 12.5rem;
  }
  .novedades1 {
    width: 18.125rem;
    height: 8.125rem;
  }
  .tituloNovedades {
    text-align: center;
    font-size: 1.75rem;
    font-family: titulo;
    color: rgb(216, 113, 180);
    margin-bottom: 0px;
  }
  article {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  h2 {
    color: darkgreen;
    text-align: center;
    margin-bottom: 0.5px;
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
