@media(max-width:1110px){
    footer{
        .navBar-2{
            width: 100%;
            height: 215px;
            align-items: center;
            iframe{
                width: 400px;
                height: 215px;
            }
        }
    }
}