@media(max-width:770px){
    footer{
        .navBar-2{
            @include grid(100%, repeat (9, 1fr), 1fr 0.1fr 1fr 1fr 1fr 1fr);
            height: 215px;
            .iframe1{
                width: 100%;
                height: 185px;
                grid-column: 1/5;
                grid-row: 3/10;
                justify-self: center;
            }
            .iframe2{
                width: 100%;
                height: 185px;
                grid-column: 6/10;
                grid-row: 3/10;
                justify-self: center;
            }
            .a1{
                grid-column: 3/4;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
            }
            .a2{
                grid-column: 4/5;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
            }
            .a3{
                grid-column: 5/6;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
            }
            .a4{
                grid-column: 6/7;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
            }
            .a5{
                grid-column: 7/8;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
            }
        }
        .logoWhatsapp{
            a{
                img{
                    width: 55px;
                    height: 55px;
                }
            }
        }
        .subir{
            a{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    
    }
    
    main{
        .masc-flex{
            display: flex;
            margin-top: 100px;
            margin-bottom: 150px;
            .masc1-flex{
                width: 50%;
                height: 200px;
                text-align: left;
                @include flex(row, nowrap, flex-start, center, 1.25rem);
                img{
                    width: 12.5rem;
                    height: 12.5rem;
                }
            }
        }
        .titulos{
            h2{
            font-size: map-get($medidas, 48);
            }
            h1{
                font-size:map-get($medidas, 48);
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        .tituloNovedades{
            font-size: map-get($medidas, 48);
            margin-top: 30px;
        }
        article{
            margin-bottom: 50px;
        }
        h2{
            font-size: map-get($medidas, 20);
            margin-top: 30px;
        }
        h3{
            font-size: map-get($medidas, 16);
        }
        p{
            font-size: map-get($medidas, 12);
        }
    }
header{
    .navBar-1{
        margin-bottom: 0px;
        }
    }
}