@media(max-width:500px){
    footer{
        .navBar-2{
            @include grid(100%, repeat (7, 1fr), 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr);
            height: 400px;
            .iframe1{
                width: 375px;
                height: 170px;
                grid-column: 1/8;
                grid-row: 3/6;
                align-items: center;
            }
            .iframe2{
                width: 375px;
                height: 170px;
                grid-column: 1/8;
                grid-row: 7/10;
                align-items: center;
            }
            .a1{
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .a2{
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .a3{
                grid-column: 4/5;
                grid-row: 1/2;
            }
            .a4{
                grid-column: 5/6;
                grid-row: 1/2;
            }
            .a5{
                grid-column: 6/7;
                grid-row: 1/2;
            }
        }
        .logoWhatsapp{
            a{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .subir{
            a{
                img{
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }


    main{
        .titulos{
            h2{
            font-size: map-get($medidas, 32);
            }
            h1{
                font-size:map-get($medidas, 32);
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
        .tituloNovedades{
            font-size: map-get($medidas, 32);
            margin-top: 20px;
        }
        article{
            margin-bottom: 40px;
        }
        h2{ 
            font-size: map-get($medidas, 16);
            margin-top: 20px;
        }
        h3{
            font-size: map-get($medidas, 12);
        }
        p{
            font-size: map-get($medidas, 10);
        }
    }
    header{
        .navBar-1{
            li{
                font-size: map-get($medidas, 14);
            }
        }
    }
}

