@media(max-width:320px){
    .responsive1 .navBar{
        width: 100%;
        height: 400px;
        display: grid;
        align-items: center;
    }
    .iframe1{
        width: 320px;
        height: 170px;
        grid-column: 2/9;
        grid-row: 3/6;
        align-items: center;
    }
    .iframe2{
        width: 320px;
        height: 170px;
        grid-column: 2/9;
        grid-row: 7/10;
        align-items: center;
    }
    .botonSubir{
        padding: 5px;
        color: brown;
    }
    header{
        display: flex;
        width: 100%;
        height: 120px;
    }
    .navBar-1{
        margin-top: 0px;
    }
    .prin-femynov{
        width: 100%;
        height: 100px;
        margin-right: 125px ;
        margin-top: 0px;
    }
    .botNav{
        padding: 2px 11px;
        border-radius: 5px 5px 20px 5px;
        font-size: 10px;
    }
    .botNav1{
        padding: 2px 24.5px;
        border-radius: 5px 5px 20px 5px;
        font-size: 10px;
    }
    .botNav2{
        padding: 2px 8px;
        border-radius: 5px 5px 20px 5px;
        font-size: 10px;
    }
    .masculinas{
        width: 12.5rem;
        height: 12.5rem;
    }
    .novedades1{
        width: 18.125rem;
        height: 8.125rem;
    }
    .tituloNovedades{
        text-align: center;
        font-size: 1.75rem;
        font-family:titulo;
        color: rgb(216, 113, 180);
        margin-bottom: 0px;
    }
    article{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    h2{
        color: darkgreen;
        text-align: center;
        margin-bottom: 0.5px;
        font-size: 1.25rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: .75rem;
    }
}

