/*probando*/
header{
    .container{
        text-align: center;
        width: 75vw;
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
        img{
            width: 790px;
            border-radius: 15px;
        }
    }
}