.titulos{
    h2{
            text-align: center;
            margin-top: 60px;
            font-size: map-get($medidas, xxxl);
            font-weight: lighter;
            font-family:titulo;
            a{
                color: $color-titulos;
                text-decoration: none;
            &:hover{
                text-decoration: underline;
                font-size: 61px;
            }
        }
    }
}

.tituloNovedades{
            text-align: center;
            margin-top: 60px;
            margin-bottom: 30px;
            font-weight: lighter;
            font-size: map-get($medidas, xxxl);
            font-family:titulo;
            color: $color-titulos;
}

.carousel-item img{
    border-radius: 15px;
}

h2{
    color: map-get($colores, color2);
    font-size: map-get($medidas, lg);
    text-align: center;
    margin-bottom: 15px;
    font-family: font-h2;
    font-weight: bold;
    margin-top: 60px;
}
h3{
    color: map-get($colores, color3);
    font-size: map-get($medidas, m);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    &::first-letter{
    font-size: 30px;
    margin-bottom: 0px;
}
}
.Conta{
    font-style: italic;
    h4{
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    }
}
p{
    font-style: italic;
    font-size: map-get($medidas, s);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cont-img{
    width: 50vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    .novedades1{
        width: 100%;
        border-radius: 15px;
    }
}